md-toolbar(layout="row", layout-align="space-between center", style="background-color: #449d44; color: rgba(255,255,255,0.87);")

  // menu
  div(layout="row", layout-align="center center")
    .main-nav__logo
      a.main-nav__logo__link(href="/")
        img(src="/images/logo_vaoroi_white_100.png")
    .main-nav__main-tools.md-toolbar-tools
      md-button(ui-sref="post")
        i.mdi.mdi-clipboard-text
        | Post
    .main-nav__main-tools.md-toolbar-tools
      md-button(ui-sref="post")
        i.mdi.mdi-account-plus
        | SNS Management
