.post {
    .form-control {
        color: inherit;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        font-size: 14px;
    }
    .post-header {
        position: relative;
        padding: 10px;
        background-color: #cfd8dc;
    }
    .dropdown {
      position: relative;
    }
    .account-selector {
        width: 381px !important;
        height: 44px !important;
        padding: 3px !important;
        .ui-select-match-item {
            padding: 0 !important;
            img {
                width: 32px !important;
                height: 32px !important;
                margin-right: 0 !important;
            }
            .close {
                z-index: 100;
                top: 0 !important;
                right: 0 !important;
                width: 32px;
                height: 32px;
                opacity: 0;
            }
        }
        .ui-select-search {
            margin-top: 6px !important;
        }
        .ui-select-search-max {
            width: 40px!important;
        }
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

    textarea {
        height: auto !important;
    }
    .form-text {
        display: block;
        width: 100%;
        border-radius: 5px;
        color: inherit;
        border: 1px solid #e6e6e6 !important;
        background-color: #fff;
    }
}

md-dialog {
    min-width: 600px;
    md-input-container {
        width: 400px;
    }
}

.md-dialog-content {
    hr {
        margin: 24px -24px;
    }
    md-list-item {
        padding: 0;
    }
}
