md-content.md-padding.post
  md-card
    md-card-header.post-header(layout="row", layout-align="space-between center")
      div(layout="row", layout-align="center center")
        ui-select.account-selector(multiple, ng-model="postAccount.selected", theme="bootstrap", close-on-select="false", reset-search-input="true")
          ui-select-match(placeholder="{{::'Chọn group, page...'}}")
            div(name="uiSelect", ng-click="$select.removeChoice($index)" id="{{$item.id}}")
              md-tooltip(md-direction="top") {{$item.name}}
              img(ng-src="{{$item.img}}")

          ui-select-choices.sns(repeat="account in selectAccountList")
            div(layout="row", layout-align="start center")
              img(ng-src="{{account.img}}")
              | {{account.name}}

        md-button.md-raised.facebook(ng-click="fbConnectLogin()")
            i.mdi.mdi-facebook-box.mr-xs
            | Facebookログイン

      div
        md-button.md-raised.md-primary(ng-disabled="postForm.$invalid === true", ng-click="createPost()") Đăng bài

    md-card-content.pt-n

      form(role="form", name="postForm")
        md-input-container.md-block
          label
          md-icon
            i.mdi.mdi-message-text-outline
          textarea.form-text(ng-model="message", rows="10", placeholder="{{::'Bạn đang nghĩ gì...'}}", name="message", required="required")
          div(ng-messages="postForm.message.$error")
            div(ng-message="required") Vui lòng nhập nội dung
