html(ng-app="vaoroiApp")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title(ng-bind="'vaoroi:' + $state.current.title") Loading..

    link(rel="stylesheet", href="angular-material.css")
    link(rel="stylesheet", href="style.css")
    link(rel="shortcut icon" type="image/png" href="/favicon.png")

  body(ng-cloak)
    md-content
      // Main
      .main
        | <div ui-view></div>

    // App
    script(src="lib.js")
    script(src="start.js")
    script(src="app.js")
    script(src="templates.js")
