md-dialog.edit-category-modal(sns-modal, aria-label="Add sns")
  md-toolbar
    .md-toolbar-tools
      h3 ADD SNS
      span(flex)
      md-button.md-icon-button(ng-click="close()")
        md-icon
          i.mdi.mdi-window-close

  md-dialog-content.md-dialog-content
    md-card
      .account-item.sv-item(ng-repeat="sns in searchSns", layout="row", layout-align="space-between center")
        div(layout="row", layout-align="center center")
          img.sns-icon(ng-src="{{sns.image}}")
          .ml-s
            h5.m-n {{sns.name}}
        .p-xxs
          md-button.md-fab.md-mini.md-primary(ng-click="deleteSns()")
            md-tooltip(md-direction="top") Xoá
            i.mdi.mdi-delete

    md-card
      div(ng-if="createFlg === false")
        md-button.md-raised.md-primary(ng-click="changeCreateButton(createFlg)")
          i.mdi.mdi-plus
          | Add page, group

      .account-item.account-add.relative(ng-if="createFlg === true", layout="row", layout-align="space-between center")
        div(layout="column")
          div(layout="row", layout-align="start center")
            .md-icon-form.ml-s
              i.mdi.mdi-account-plus
            md-input-container.mb-n
              label Search page, group...
              input(type="text", ng-model="snsName", ng-keydown="pushEnterEvent(snsName, $event)", focus-me="add")
              ul.account-search-list(ng-show="searchDatas.length > 0")
                li(ng-repeat="searchData in searchDatas", ng-click="addAccount(searchData)", layout="row", layout-align="space-between center")
                  div( layout="row", layout-align="center center")
                    img.sns-icon.icon-xs.mr-s(ng-src="{{searchData.image}}")
                    | {{searchData.name}}

