@charset "UTF-8";
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none
    };
}

button,
select,
html,
textarea,
input {
    font-family: "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

body {
    color: rgba(0, 0, 0, .87);
    background-color: #eceff1;
}

md-content {
    background-color: #eceff1;
}

.wrapper {
    width: 100%;
    height: 100%;
}

// タブのアニメーションを無効にする
[role="tabpanel"] {
    transition: none;
    min-height: 400px;
}

.account {
    font-size: 14px * .8;
}

a {
    text-decoration: none;
    color: #337ab7;
    &:hover {
        text-decoration: underline;
    }
}

small {
    font-size: 80%;
}

.text-error {
    color: rgb(221, 44, 0);
}

.md-no-float {
    label:not(.md-placeholder) {
        display: none;
    }
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.inc-value {
    color: #4caf50;
}

.dec-value {
    color: #ff5722;
}

.md-caption {
    color: rgba(rgba(0, 0, 0, .87), .6);
}

.md-title {
    text-transform: capitalize;
}

.alert-message {
    white-space: pre-wrap;
}

.md-button.md-fab .mdi {
    font-size: 24px;
    margin: auto;
}

.account-item,
.group-item,
.domain-item {
    position: relative;
    margin: 0 0 -1px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    background-color: white;
    &:hover {
        background: #f3f3f4;
    }
    &.sv-item {
        &:hover {
            cursor: move;
        }
    }
    .badge {
        margin: 4px 0 0 12px;
    }
    .btn {
        vertical-align: initial;
    }
}

h5 {
    font-size: 14px;
}

.account-search-list {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #e6e6e6;
    li {
        cursor: pointer;
        padding: 5px;
        div {
            line-height: 30px;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-xs {
    font-size: 60%;
}

.icon-xs {
    width: 24px!important;
    height: 24px!important;
}
