@charset "UTF-8";
.dropdown-menu {
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    float: left;
    display: block;
    overflow-y: auto;
    min-width: 100px;
    padding: 0;
    list-style: none outside none;
    border: medium none;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(86, 96, 117, .7);
    text-shadow: none;
    background-color: #fff;
    margin: 2px 0 0;
    text-align: left;
    > li {
        > a,
        > div {
            padding: 8px 25px 8px 8px;
        }
        > a {
            font-weight: normal;
            line-height: 25px;
            text-align: left;
            color: inherit;
            border-radius: 3px;
            .font-bold {
                font-weight: 600;
            }
            .fa {
                margin: 0 6px;
            }
            &.disabled {
                color: rgba( #676a6c, .5);
                &:hover {
                    cursor: default;
                    color: rgba( #676a6c, .5);
                    background-color: transparent;
                }
            }
        }
    }
    .caret {
        margin-left: 5px;
    }
    .divider {
        margin: 0;
    }
    .link-block a {
        font-size: 12px;
    }
    [class^="ci-"],
    [class*=" ci-"] {
        vertical-align: 0;
    }
}

// 右寄せドロップダウン
.dropdown.right {
    .dropdown-menu {
        right: 0;
        left: inherit;
    }
}
