.main-nav__logo {
    padding: 0 $base-spacing-unit * 2;
}
.main-nav__main-tools {
    .md-button {
        padding: 0 $base-spacing-unit * 2;
        i {
            margin-right: $base-spacing-unit;
        }
        .active {
            color: white;
            background-color: #5c6bc0;
        }
    }
}

.sub-tools__avator {
    img {
        width: 30px;
        height: 30px;
        margin-right: $base-spacing-unit;
        border-radius: 50%;
    }
}
