.account__icon {
    width: 32px;
    height: 32px;
    margin-right: $base-spacing-unit;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .15);
}

.material-icons {
    .mdi {
        font-size: 21px;
        padding: 4px;
    }
}

md-icon {
    i.mdi {
        font-size: 24px;
    }

    md-input-container & {
        color: rgba(0, 0, 0, .54);
    }
    .md-input-invalid & {
        color: $error-color;
    }
}

.md-icon-form {
    .mdi {
        font-size: 21px;
        padding: 8px 9px 4px 4px;
        color: rgba(0, 0, 0, .54);
    }
}

.sns-icon {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0,0,0,.1);
    margin-left: 5px;
}
