// Media Queries
// PC
@mixin mq-pc {
    @media only screen and (min-width: $pc-width) {
        @content;
    }
}

// スマートフォン
@mixin mq-sm {
    @media only screen and (max-width: $smartphone-width) {
        @content;
    }
}
