@charset "UTF-8";
// ui.select
.ibox-title {
    .ui-select-container {
        margin-top: -3px;
    }
}

.ui-select-highlight {
    font-weight: bold;
}

.ui-select-offscreen {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    outline: 0 !important;
}

.ng-dirty.ng-invalid > a.select2-choice {
    border-color: #ed5565;
}

.select2-result-single {
    padding-left: 0;
}

.select2-locked > .select2-search-choice-close,
.select-locked > .ui-select-match-close {
    display: none;
}

.ng-dirty.ng-invalid > div.selectize-input {
    border-color: #ed5565;
}

.btn-default-focus {
    text-decoration: none;
    color: #676a6c;
    border-color: #e6e6e6;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background-color: #f3f3f4;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.input-group > .ui-select-bootstrap {
    &.dropdown {
        position: static;
    }
    > input.ui-select-search.form-control {
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.ui-select-bootstrap > {
    .ui-select-match {
        text-align: left;
        > .caret {
            position: absolute;
            top: 45%;
            right: 15px;
        }
    }
    .ui-select-choices {
        overflow-x: hidden;
        width: 100%;
        height: auto;
        max-height: 500px;
        img {
            width: 24px;
            height: 24px;
            margin-right: 7px;
            border: 1px solid #e6e6e6;
        }
        // SNSアカウント選択用
        &.sns {
            img {
                width: 32px;
                height: 32px;
                margin-right: 7px;
                border: 1px solid #e6e6e6;
            }
        }
        // snsアイコンを表示する場合に位置補正
        [class^="ci-img-on"],
        [class*=" ci-img-on"] {
            margin-right: 7px;
            img {
                margin: 0;
            }
        }
    }
}

.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    min-height: 44px;
    input.ui-select-search {
        height: 1.666666em;
        margin-top: 3px;
        border: 0;
        outline: none;
        background-color: transparent !important;
    }
    .ui-select-match .close {
        font-size: 16px;
        position: absolute;
        top: 4px;
        right: 5px;
    }
    .ui-select-match img {
        width: 24px;
        margin-right: 4px;
    }
    .ui-select-match .btn {
        position: relative;
        margin-right: 3px;
        padding: 2px 22px 2px 3px;
        color: #676a6c !important;
        border: 1px solid #e6e6e6 !important;
        background-color: white !important;
        box-shadow: none;
    }
    .ui-select-match-item {
        outline: 0;
    }
}

.ui-select-choices-row {
    padding: 0 !important;
    > a {
        font-weight: 400;
        line-height: 1.42857143;
        display: block;
        clear: both;
        padding: 8px;
        white-space: nowrap;
        color: #333;
        &:hover, &:focus {
            text-decoration: none;
            color: #676a6c;
            background-color: #f3f3f4;
        }
    }
    &.active > a {
        text-decoration: none;
        color: white;
        outline: 0;
        background-color: #1c84c6;
    }
    &.disabled > a,
    &.disabled > div,
    &.active.disabled > a,
    &.active.disabled > div {
        cursor: not-allowed;
        color: lighten(#888, 25%);
        background-color: white;
    }
}

.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}

.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #ed5565;
}
