$base-spacing-unit: 8px;
$base-round: 4px;

// Base Color
$base-text-color: rgba(0, 0, 0, .87);
$background-color: #eceff1;
$link-color: #337ab7;
$primary-color: #1c84c6;
$error-color: rgb(221, 44, 0);
$disabled-color: rgba(0, 0, 0, .12);
$border-color: #ddd;

// SNS Color
$facebook-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #3f729b;
$googleplus-color: #dd4b39;

// PC width(media querie)
$pc-width: 600px;
// Smartphone width(media querie)
$smartphone-width: 599px;
